

<ion-content padding>
  <ion-text color="dark">
    <h1 margin-top="50px">My To-Do</h1>
  </ion-text>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input> 
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="cpassword"></ion-input> 
    </ion-item>
  </ion-list>

  <ion-button fill="solid" expand="block" color="primary" (click)="register()">Register</ion-button>
  <ion-text color="dark"> 
    <p> Already have an account? <a color="primary" routerLink="/login" routerDirection="root">login</a></p>
  </ion-text>
</ion-content>